{% extends 'email.html' %}

{% block contentA %}
  <p>
    你的账号已经准备好密码重置，请点击下方按钮，开始密码重置。
  </p>
  <tr>
    <td
      style="padding: 20px 0 0 0;">
      <a
        href="{{reset_password_url}}"
        style="outline: none; text-decoration: none;">
        <table
          width="100%"
          border="0"
          cellspacing="0"
          cellpadding="0">
          <tr>
            <td
              class="button"
              height="45"
              width="100%"
              style="letter-spacing: 3px; border-radius: 10px; text-align: center; font-size: 16px; font-weight: bold; padding: 0 30px 0 30px; background-color: #ffffff; color: #32a852; border: 1px solid #32a852;">
              密码重置
            </td>
          </tr>
        </table>
      </a>
    </td>
  </tr>
{% endblock contentA %}

{% block contentB %}
  <p>如果点击按钮后浏览器没有正确跳转，请复制下方链接，在浏览器中打开。</p>
  <p>{{reset_password_url}}</p>
{% endblock contentB %}

{% block contentC %}
  <p>你无需回复这封邮件。</p>
  <p>如果这不是你的行为，请忽略这封邮件。</p>
{% endblock contentC %}